header {
    display: flex;
    justify-content: space-between;
}

header > h1 {
    font-size: 12pt;
    width: 100%;
    text-align: start;
    margin-left: 10px;
}

header > span {
    padding: 2px;
}

.list-item-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item-name {
    padding-left: 3px;
    width: 100%;
    text-align: start;
}

.item-amout {
    width: 100px;
}

.item-totals {
    width: 180px;
    text-align: end;
}

.item-total {
    font-size: 8pt;
}
