.market-list {
    height: 100%;
}
.market-list > header {
    display: flex;
    height: 40px;
    justify-content: space-between;
    margin: 0;
}

.market-list > header > h1 {
    font-weight: normal;
    font-size: 12pt;
    text-align: start;
    margin: 10px;
}

.market-list > header > span {
    padding: 2px;
}

.market-list > fieldset {
    width: 100%;
    border: none;
    padding: 0;
    display: flex;
    margin: 0;
    justify-content: space-between;
}

.market-list > fieldset > div {
    margin-right: 3px;
}

.market-list > fieldset > .name {
    width: 100%;
}

.market-list > fieldset > .amount {
    width: 100px;
    text-align: center;
}

.market-list > fieldset > .price {
    width: 140px;
}

.list-item-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.item-name {
    padding-left: 3px;
    width: 100%;
    text-align: start;
}

.item-amout {
    width: 100px;
}

.item-totals {
    width: 180px;
    text-align: end;
}

.item-total {
    font-size: 8pt;
}

.market-list > footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
}

.market-list > footer > div {
    display: flex;
    align-items: center;
}

.market-list > footer > .total-in-cart {
    margin-left: 10px;
}

.market-list > footer > .total {
    margin-right: 5px;
    text-align: right;
}
